# Ignore specific files
.settings.xml
.monitor
.DS_Store
*.log
*.dat
.vscode

# Ignore various temporary files
*~
*.swp


# Ignore various Node.js related directories and files
node_modules
coverage/
dist/
